@import "tailwindcss";

@keyframes marquee {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  min-width: 200%;
  animation: marquee 50s linear infinite;
}
